.container-top-mar{
	margin-top:-1px;
}
.col-img-padding{
	padding:0;
}
.wrapper-career{
	padding:10px 0 10px 0;
}
p{
	font-size:18px;
	font-family:'Neutra Text',serif,sans-serif;
	padding-top:30px;
}
.color-for-p{
	font-size:18px;
	font-family:'Neutra Text',serif,sans-serif;
	color:#7961AA;
}

div.dataTables_paginate{
	text-align:center;
}