/* Embed Font */
@font-face {
    font-family: myNeutra;
    src: url(../fonts/NeutraText-Book.otf);
}
.col-img-padding{
	padding:0;
}

.wrapper-top{
	margin-top:-1px;
}
.ddos-services h3,.ddos-attacks h3,.impact h3{
	font-family:myNeutra;
	font-weight:bold;
	color:#7961AA;
	text-align:center;
	font-size:27px;
	padding:10px 0 15px 0px;
}
.ddos-attacks h4{
	font-family:myNeutra;
	font-weight:bold;
	color:#7961AA;
	text-align:center;
	font-size:27px;
	padding:10px 0 2px 0px;
}
.ddos-services p{
	font-family:myNeutra;
	font-size:18px;
	padding-bottom:12px;
	line-height:30px;
}
.revenue{
	margin:20px 0 20px 0;
}
.revenue h4{
	font-family:myNeutra;
	font-size:18px;
	font-weight:600;
	padding-top:10px;
}
.revenue p{
	font-family:myNeutra;
	font-size:15px;
}
.img-position{
	margin:0 auto;
}

.ddos-attacks{
	background-color:#F3F3F4;
	margin-bottom:30px;
}

.ddos-attacks p{
	font-family:myNeutra;
	font-size:18px;
	color:#7961AA;
	text-align:center;
}

/* .wrapper-top span{
	position:absolute;
	top:230px;
	left:85px;
	z-index:1000;
} */