/* date modify 14.02.2018 */
* {
	margin:0;
	padding:0;
}
/* bullet point click on slide */
.slide-top-margin{
	margin-top:-1px;
}
div#n2-ss-6 .n2-style-2a0a200d6a6e1fade27fb9c90af83812-dot.n2-active {
    background: #7961a9 !important;
}
div#n2-ss-6 .n2-style-2a0a200d6a6e1fade27fb9c90af83812-dot:HOVER {
	background: #7961a9 !important;
}

/* help me choose and sign me up */
.imghelphover {
    margin: 0 auto;
    display: block;
    width: 140px;
    height: 140px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url(../../../images/homepage/help-icon.png);
}
.imghelphover:hover {
    margin: 0 auto;
    display: block;
    width: 140px;
    height: 140px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url(../../../images/homepage/Help_Me_Choose_hover.png);
}

.imghover{
  margin:0 auto;
  display: block;
  width:140px;
  height:140px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image:url(../../../images/homepage/sign_up-icon.png);


}
.imghover:hover {
    margin: 0 auto;
    display: block;
    width: 140px;
    height: 140px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url(../../../images/homepage/Sign_Me_Up_hover.png);
}

.our_services h3{
	font-family:'Neutra Text'; 
	font-size:23px; 
	font-style:normal; 
	font-weight:bold;
	color:#7961AA;
	text-align:center;
	padding: 40px 0 10px 0 ;
}
.our_services p{
	font-family:'Neutra Text'; 
	text-align:center; 
	font-size:20px; 
	font-style:normal; 
	color:#3F3F3F;
	padding-bottom:30px;
}
.item-margin-bt{
   margin-bottom:30px;
}
.img-wrapper{
	width:100%;
	height:100%;
    padding-bottom:0;
    overflow:hidden;
	cursor:pointer;
	
}
.img-wrapper .overlay-products{
	position: absolute; 
	bottom: 0; 
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	width: 92%;
	transition: .5s ease;
	opacity:0;
	padding: 20px;
	text-align: center;
	
}
.img-wrapper .overlay-products ul li a{
	color:white;
}
.img-wrapper .overlay-products ul li{
	list-style-type:none;
	display:inline;
	font-size:13px;
	font-family: 'Neutra Text';
}

.img-wrapper .overlay-products ul li span{
	padding:0 2px 0 5px;
	color:white;
}

.img-wrapper:hover .overlay-products{
	opacity:0.5;
}
.img-wrapper:hover .overlay-products a:hover{
	color:#7961AA;
}

/* Zoom In */

.img-wrapper figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


@media screen and (max-width:1000px){
	.our_services h3{
		font-family:'Neutra Text'; 
		font-size:20px; 
		font-style:normal; 
		font-weight:bold;
		color:#7961AA;
		text-align:center;
		padding: 40px 0 10px 0 ;
	}
	.our_services p{ 
		font-size:18px; 
		color:#3F3F3F;
		padding-bottom:30px;
	}
}
.container .padding-services{
	padding:0;
}

	