/* Embed Font */
@font-face {
    font-family: myNeutra;
    src: url(../fonts/NeutraText-Book.otf);
}

.myLocation{
	font-family:myNeutra;
	padding-top:8px;
	color:#AAAAAA;
	font-size:15px
}
.locationMap{
	font-family:myNeutra;
	font-size:20px
}
body{
	padding-right:0 !important;
}
@media screen and (max-width:1000px){
	#camera-block .myMap{
		float: right;
		position: relative;
		cursor: pointer;
		top: 9px;
		margin-bottom: 20px;
	}
	
}